
<div class="main-dashboard">
<!--Pie Chart -->
<div class="pie-chart" >
 
 <app-piechart [isUpdateChart]="isUpdateChart"></app-piechart>
</div>

<!-- Filter Options -->
<div class="dashboard-container">
<div class="toolbar">
    <div class="filter-options">
      <label for="statusFilter">Filter by Status:</label>
      <select id="statusFilter" [(ngModel)]="selectedStatus" (change)="filterTasks()">
        <option value="all">All</option>
        <option value="pending">Pending</option>
        <option value="Completed">Completed</option>
        <option value="overdue">Overdue</option>
      </select>
    </div>
    <div class="add">
      <button><div (click)="go()">Add Task</div></button> 
    </div>
  </div>
<ul>
  <li *ngFor="let task of filteredTasks">
    <input type="checkbox" [checked]="task.status === 'Completed'" (change)="toggleCompleted(task)">
    <span>{{ task.title }}</span>
    <button (click)="view(task.id)" class="view">View Details</button>
    <button (click)="deleteTask(task.id)">Delete</button>
  </li>
</ul>
</div>
</div>

