<div class="user-profile">
<div class="container">
  <div class="card">
    <h1 class="mb-4">Profile</h1>
    <form *ngIf="profileForm" [formGroup]="profileForm" (ngSubmit)="saveChanges()">
      <div class="profile-picture-container">
        <label for="profilePicture"> Uploade image</label>
        <input type="file" id="profilePicture" (change)="onFileSelected($event)" accept="image/*">
        <img [src]="imageUrl" alt="Uploaded Image">
      </div>
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" class="form-control" formControlName="username">
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" class="form-control" formControlName="email">
      </div>
      <div class="form-group">
        <label for="mob">Mobile:</label>
        <input type="text" id="mob" class="form-control" formControlName="mob">
      </div>
      <div class="form-group" *ngIf="showPasswordChange">
        <label for="oldPassword">Old Password:</label>
        <input type="password" id="oldPassword" class="form-control" formControlName="oldPassword">
        <span *ngIf="!isPassword">enter correct password</span>
      </div>
      <div class="form-group" *ngIf="showPasswordChange">
        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" class="form-control" formControlName="newPassword">
        <div *ngIf="profileForm.get('newPassword')?.invalid && profileForm.get('newPassword')?.touched">
            <div *ngIf="profileForm.get('newPassword')?.errors?.['required']" class="error-message">New Password is required</div>
            <div *ngIf="profileForm.get('newPassword')?.errors?.['minlength']" class="error-message">New Password must be at least 5 characters long</div>
            <div *ngIf="profileForm.get('newPassword')?.errors?.['invalidPassword']" class="error-message">New Password must contain at least one number, one capital letter, and one lowercase letter</div>
        </div>
    </div>
    
      <div class="form-group" *ngIf="showPasswordChange">
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" class="form-control" formControlName="confirmPassword">
        <span *ngIf="profileForm.get('newPassword')?.touched && profileForm.get('confirmPassword')?.touched && profileForm.errors && profileForm.errors['mismatch']" class="text-danger">Passwords do not match</span>
      </div>
      <button type="button" class="btn btn-primary" (click)="(showPasswordChange = !showPasswordChange)">Change Password</button>
      <button type="submit" class="btn btn-primary" *ngIf="!showPasswordChange">Save Changes</button>
    </form>
  </div>
</div>
</div>
