<div class="task-container">
    <form class="task-form" [formGroup]="taskForm" (ngSubmit)="saveTask()">
      <h1 class="task-title">{{ task.title }}</h1>
      <h3 class="task-description">{{ task.description }}</h3>
      <h3 class="task-dueDate">{{ task.dueDate }}</h3>
      <h3 class="task-priority">{{ task.priority }}</h3>
      <h3 class="task-status">{{ task.status }}</h3>
      <button type="button" class="task-edit-button" (click)="updateTaskView()" *ngIf="!editMode">Edit</button>
      <!-- Edit form -->
      <div class="task-edit-form" *ngIf="editMode">
        <h3>Edit Task</h3>
        <label>Title: </label>
        <input type="text" formControlName="title"><br>
        <label>Description: </label>
        <input type="text" formControlName="description"><br>
        <label>Due Date: </label>
        <input type="text" formControlName="dueDate"><br>
  
        <!-- Priority Dropdown -->
        <label>Priority: </label>
        <select formControlName="priority">
          <option *ngFor="let priority of priorityOptions" [value]="priority">{{ priority }}</option>
        </select><br>
  
        <!-- Status Dropdown -->
        <label>Status: </label>
        <select formControlName="status">
          <option *ngFor="let status of statusOptions" [value]="status">{{ status }}</option>
        </select><br>
        
        <button type="submit">Save</button>
      </div>
    </form>
  
    <button class="task-delete-button" (click)="deleteTask()">Delete</button>
</div>
