

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    
}

/* Background color and animation */
.login {
    background-color: #f1f1f1; /* Set a light background color */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    transition: background-color 0.5s; /* Smooth transition for background color change */
    
}

.login:hover {
    background-color: #e0e0e0; /* Change background color on hover */
}

/* Container styles */
.login-container {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    overflow: hidden;
    width: 400px;
    max-width: 90%; /* Make the container responsive */
    min-height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    transition: box-shadow 0.3s; /* Smooth transition for box shadow */
}

.login-container:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5); /* Add shadow on hover */
}

/* Head styles */
.head {
    font-size: 24px;
    margin-bottom: 20px;
    color: #512da8; /* Title color */
}

/* Form styles */
.login-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.login-container h4 {
    margin-bottom: 20px;
    font-size: 20px;
    color: #333; /* Text color */
}

/* Input styles */
.login-body {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
}

.login-body input {
    background-color: #f9f9f9; /* Input background color */
    border: 2px solid transparent;
    border-radius: 8px;
    padding: 12px;
    width: 100%;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s; /* Smooth transition for border color */
}

.login-body input:focus {
    border-color: #512da8; /* Change border color on focus */
}

/* Error message styles */
.login-invalid {
    position: absolute;
    bottom: -20px;
    left: 0;
    font-size: 14px;
    color: red;
}

/* Button styles */
.login-button {
    margin-top: 20px;
}

.login-button button {
    background-color: #512da8;
    color: #fff;
    font-size: 16px;
    padding: 12px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition for button background color */
}

.login-button button:hover {
    background-color: #7e57c2; /* Change button background color on hover */
}

