

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
   
    
}


.login {
  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    transition: background-color 0.5s;
    background-image: url(/assets/login.png);
    background-repeat: no-repeat;
}

.login:hover {
    background-color: #e6d5ff; 
}
.error-message {
    margin-top: 5px; 
    color: red;
  }
  
  .error-message  div {
    margin-top: 5px;
    color: red;
  }
  
@media screen and (max-width: 768px) {
    .login {
        background-image: none;
        
    }
}

.login-container {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    overflow: hidden;
    width: 400px;
    max-width: 90%; 
    min-height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    transition: box-shadow 0.3s; 
}

.login-container:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5); 
}


.head {
    font-size: 24px;
    margin-bottom: 20px;
    color: #512da8; 
}

/* Form styles */
.login-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.login-container h4 {
    margin-bottom: 20px;
    font-size: 20px;
    color: #333; 
}



.login-body input {
    background-color: #f9f9f9;
    border: 2px solid transparent;
    border-radius: 8px;
    padding: 12px;
    width: 100%;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}

.login-body input:focus {
    border-color: #512da8; 
}


.login-body {
    position: relative;
  margin-bottom: 10px;
    width: 100%;
    input {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
  
    .error-container {
      position: relative;
      margin-top: 5px;
  
      .invalid {
        font-size: 10px;
        color: red;
      }
    }
  }
  

.login-button {
    margin-top: 20px;
}

.login-button button {
    background-color: #512da8;
    color: #fff;
    font-size: 16px;
    padding: 12px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button button:hover {
    background-color: #000000;
}

