*{
  font-family: Montserrat;
}
.add-task {
  display: flex;
  justify-content: flex-start;
  align-items: left;
  height: 100vh;
  padding-left: 20px; 
  background-image: url('/assets/boy.png');
  background-size: cover; 
  background-position: center;
  width: 100%;

  .add-task-container {
    width: 290px; 
    padding: 20px;
    border:none;
    background-color: #ffffff00;
   
 margin-left: 20px;
    form {
      display: flex;
      flex-direction: column;
      
      div {
        margin-bottom: 15px;
        
        label {
          font-weight: bold;
        }
        
        input[type="text"],
        textarea,
        input[type="date"],
        select {
          width: 100%;
          padding: 8px;
          border: 1px solid #ccc;
          border-radius: 5px;
          box-sizing: border-box;
        }
      }
      
      .add-task-sameline {
        display: flex;
        justify-content: space-between;
        
        div {
          width: 48%;
        }
      }
      
      button[type="submit"] {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        width: 200px;
        &:hover {
          background-color: #0056b3;
        }
        
        &:disabled {
          background-color: #a48efa;
          cursor: not-allowed;
        }
      }
    }
  }
  h2{
    font-family: Montserrat;
    padding-left: 10px;
    top: 0;
    
  }

}
.add-task {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
 
    
    .add-task-container {
      width: 60%;
     
    }

    
  }

 
}
