.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('/assets/design.png');
  background-size: cover; 
  background-position: center;
  width: 100%;
}

.card {
  background-color: #ececec23;
  width: 600px;
  border: none;

}

.btn-primary {
  background-color: #512da8;
}

.error-message {
  color: red;
}

.head {
  font-size: 24px;
  color: #512da8;
  text-align: center;
  margin-bottom: 10px;
}

@media (max-width: 576px) {
  .card {
    width: 90%;
  }
  .signup-container {
    background-color: #ffffff;
    background-image: none;
  }

}
