<div class="signup-container">

    <div class="row justify-content-end">
      <div class="col-md-6">
        <div class="card">
          
          <div class="card-body">
            <div class="head"><span>Signup here..</span></div>
            <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" formControlName="username" placeholder="Username">
                    @if (signupForm.get('username')?.invalid && signupForm.get('username')?.touched)
                    {
                        <div class="error-message">Username is required</div>
                    }
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" formControlName="email" placeholder="email">
                    @if (signupForm.get('email')?.invalid && signupForm.get('email')?.touched)
                    {
                        <div class="error-message">Please enter a valid email address</div>
                    }
                </div>
                <div class="mb-3">
                    <label for="mob" class="form-label">Mobile</label>
                    <input type="text" class="form-control" id="mob" formControlName="mob" placeholder="mobile number">
                    @if (signupForm.get('mob')?.invalid && signupForm.get('mob')?.touched)
                    {
                        <div class="error-message">Mobile number is required</div>
                    }
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input type="password" class="form-control" id="password" formControlName="password" placeholder="password">
                  @if (signupForm.get('password')?.invalid && signupForm.get('password')?.touched)
                  {
                    @if (signupForm.get('password')?.errors?.['required'])
                    {
                      <div class="error-message">Password is required</div>
                    }
                    @if (signupForm.get('password')?.errors?.['minlength'])
                    {
                      <div class="error-message">Password must be at least 5 characters long</div>
                    }
                    @if (signupForm.get('password')?.errors?.['invalidPassword'])
                    {
                      <div class="error-message">Password must contain at least one number, one capital letter, and one lowercase letter</div>
                    }
                  }
                </div>
                     
              <button type="submit" class="btn btn-primary" [disabled]="signupForm.invalid">Sign Up</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  